<div class="grid-container">
  <div class="mx-sm-3">
    <div style="height: 300px; border: 1px solid black">
      <div>
        <button
          mat-menu-item
          routerLinkActive="router-active"
          routerLink="./personal-info"
        >
          Personal info
        </button>
      </div>
    </div>
    <hr />
    <div style="border: 1px solid black; height: 200px">
      <button
        mat-menu-item
        routerLinkActive="router-active"
        routerLink="./my-recipes"
      >
        My Recipes
      </button>
      <button
        mat-menu-item
        routerLinkActive="router-active"
        routerLink="./collections"
      >
        My collections
      </button>
    </div>
  </div>
  <div style="background-color: pink; height: 600px">
    <router-outlet></router-outlet>
  </div>
</div>
