<div class="row m-3">
  @for (recipe of recipes; track recipe) {
  <div class="col-sm-4 mb-5 position-relative">
    <a
      type="button"
      (click)="navigate(recipe.id)"
      class="list-group-item clearfix"
    >
      <div class="card">
        <div>
          <div class="mat-icon-absolute">
            <div class="example-button-container"></div>
          </div>
          <img
            [src]="baseUrl + recipe.imageUrl"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <p class="card-text">
            {{ recipe.description }}
          </p>
        </div>
      </div>
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onDelete(recipe.id)">
        <mat-icon>delete</mat-icon> <span>Delete</span>
      </button>
      <button mat-menu-item (click)="onEdit(recipe.id)">
        <mat-icon>edit</mat-icon> <span>Edit</span>
      </button>
    </mat-menu>
  </div>

  }
</div>
