<div class="col">
  <a [routerLink]="[recipe.id]" class="list-group-item clearfix">
    <div class="card">
      <div>
        <div class="mat-icon-absolute">
          <div class="example-button-container">
            <button mat-fab color="warn" (click)="addToFavourites($event)">
              <mat-icon
                [innerHTML]="recipe.isFavorite ? 'favorite' : 'favorite_border'"
              ></mat-icon>
            </button>
          </div>
        </div>
        <img [src]="baseUrl + recipe.imageUrl" class="card-img-top" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ recipe.title }}</h5>
        <p class="card-text">
          {{ recipe.description }}
        </p>
      </div>
    </div>
  </a>
</div>
