.mat-icon-absolute {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
}

.card-image-height {
  height: 13vw;
  object-fit: fill;
}
